input.maxBetrag=4.0
input.maxIterations=500
input.add_iter=20
input.xpix=1024
input.ypix=768
input.farbe=5.5
input.ci=-0.6065038451823017
input.cr=-0.34837308755059104
input.zoomfaktor=0.8
input.chunk_y=4
input.chunk_x=4
input.client_threads=24
input.workersThreads=24
input.stufenanzahl=65
input.xMinimum=-1.666
input.xMaximum=1
input.yMinimum=-1
input.yMaximum=1